body {
  margin: 0;
  background: #000000d7;
}
header              {background: -webkit-linear-gradient(#002a4c 10%,#000000 100%);margin-top: 0;
                     display: inline-block;width: 100%;}

header img          {display:inline-block;width:12%;float: left;margin-top: .3%;;
                    }

nav{
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 8;
  display: inline-block;
  width: 100%;
  margin-top: 0;
  padding: .5% 0 0.5% 0;
  background: none;
  text-align: center;}

nav a{
  text-decoration: none;
  float: right;
  font-family: "Source Sans Pro";
  font-weight: 500;
  color: white;
  font-size: .9em;
  text-shadow: 0px 1px 4px black
}

nav ul             {list-style-type: none;text-align: center;}

nav ul li          {display:inline-block;
                    margin-bottom: .5%;margin-left: 2%;
                    padding-right: 2%;
                    border-right: solid 2px #88b8d4}

nav ul:last-child{border:none;}

nav li ul          {list-style-type: none;display: none;background: rgb(7 55 62/.6);width:10%;position:absolute;margin-top:0;padding-top: 1%;}

nav li ul li       {display:inline-block;width:100%;border: none;font-size: 80%;text-align: justify;;margin-left:-1%;}

nav li ul:last-child  { padding-bottom: 1%;}

nav li ul:first-child {padding-top: 1%;}

nav li:hover ul{display: block;margin :0;
  width:10%;}

nav li ul li:hover{background: rgb(7 55 62/.4)}

nav a:hover       {color:#bbffaa;  border-color:#bbffaa }

nav a:focus{
  color:#bbffaa;
  border-color:#bbffaa}

.mobileheader {
  display: none
}

.mobile-nav-container {
  display: none;
}
main{
  margin: 5% 0 0 0;
  font-family: "Poppins";
}

.pagehead{
  text-align: center;
}
h2{
  text-align: center;
  width: auto;
  text-align: center;
  font-family: "Poppins";
  font-size: 180%;
  font-weight: normal;
  display: inline-block;
  margin: 3% 3% 0 3%;
  padding: 0% 0% .5% 0%;
  letter-spacing: .3em;
  color: #79a3c5;

}

.pagehead p{
  color: #79a3c5;
  display:inline-block;
  margin:-1% 0% 0% 0%;
  padding:0% 4% .5% 4%;
  font-family: "Poppins";
  font-size: 120%;
  text-align: center;}

.pagehead hr.h2hr {
  width: 30%;
}

.about{
  margin: 4%;
    color: white;
    background: inherit;
    box-shadow: 0px 1px 8px -3px rgba(255, 225, 225, .4)
}
.about h3{
  font-family: "Poppins";
   font-size: 29px;
   padding-left: 4%;
   padding-top: 2%;
  }
 .data {width: 50%;
  display: inline-block;
  margin-top: 0%;
  font-family: "Poppins";
  font-weight: 300;
  padding-left: 2%;
  padding-right: 1%;
  height: 350px;
  overflow: auto;
}
.images{
  width: 35%;
    display: inline-block;
    text-align: center;
    padding-bottom: 5%;
}

.images img{
  width: 10%;
    display: inline-block;
    margin: 2%;
    margin-bottom: 10%;
    float: right;
    border: 5px white solid;
  box-shadow: 0px 5px 20px 0px rgb(0, 0, 0);
}

.projects{
  display: inline-block;
  margin:4%;
  box-shadow: 0px 1px 8px -3px rgba(255,225,225,.4);
  padding-bottom: 2%;
}
details            {color:white;padding-left:6%;padding-top: 2%;}
summary{
  font-size: 120%;
    display: inline-block;
    width: auto;
    font-family: corbel;
    font-size: 29px;
}
article{
  display: inline-block;width:300px;
  text-align: center;float: left;margin: 2% 1.5% 1% 1.5%;
  padding: 1%;padding-top: 2%;
  background-color: #353a4a;color: black;
  box-shadow: 0px 12px 0px 0px #9396a0;
  }
article img        {width:80%;}
#toparrow          {text-decoration: none;text-align:center;clear: both;}

#toparrow a        {color: #8f919e;}

#toparrow a:hover  {color:rgb(155 214 137 / .8)}

footer {
  background: -webkit-linear-gradient(#282828 10%, #000000 96%);
  margin-top: -1%;
}

.follow{
  clear: both;
  text-align: center;
    margin-left: 0%;
    text-decoration: none;
    color: white
  }

.icon{
  text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.web               {text-align: center;width: 100%;text-decoration: none;}

.mail{color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 2%;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 90%;}

.mail a:hover      {color:#cf2c87;}

.ig a,.tt a,.yt a,.fb a {color:grey;}

.ig a:hover        {color:#cf2c87;}

.tt a:hover       {color:#00a7e7;}

.yt a:hover       {color:#f70000;}

.fb a:hover       {color:#4267b2;}

.ig a:focus       {color:#cf2c87;}

.tt a:focus       {color:#00a7e7;}

.yt a:focus       {color:#f70000;}

.fb a:focus       {color:#4267b2;}

.footernote{
  color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 90%;
  }
.footernote a       {text-decoration: none;}
@media only screen and (max-width:768px) {
  header {
    display: none;
  }

  .mobileheader {
    text-align: center;
    background-color: #3a3a3a;
    display: inline-block;
    width: 100%;


  }

  .mobilelogo img {
    display: inline;
    margin: 1% 0 1% 0;
    width: 15%;
  }

  .mobileheader .menuicon {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3%;
    right: 0%;
    width: 10%;
  }

  .mobileheader .menuicon .navbutton {
    width: 40%;
    display: block;
    color: white;
  }

  .mobile-nav-container {
    z-index: 99;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0% 0 0 0;
    padding: 5% 0% 0 0%;
    background-color: #3a3a3a;
    animation: fadeEffect .08s
  }

  @keyframes fadeEffect {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  .mobileheader .closebutton {
    width: 5%;
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 10%;
    color: white;
  }

  .mobilenavlist {
    margin: 5% 0 0 0;
    width: 80%;
    display: inline-block;
  }

  .mobilenavlist a {
    text-decoration: none;
    float: none;
    font-family: "Source Sans Pro";
    font-weight: 500;
    color: rgb(187, 187, 187);
    font-size: 1.3em;

  }

  .mobilenavlist a:hover {
    color: white;
    text-shadow: 0px 1px 4px black
  }

  .mobilenavitem {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    margin: 2% 0 2% 0;
    border-bottom: solid white .2px;
  }

  .mobilenavmediaicons {
    margin: 5% 0 0 0;
  }

}


-----------------------------